.menu {
    background-color: #2877d2;
    height: 80px;
    width: 100%;
    .logo {
        font-size: 35px;
        font-weight: bold;
        line-height: 80px;
        padding: 0 2rem;

        a {
            text-decoration: none;
            color: $secondary-color;
        }
    }

    &-nav {
        float: right;
        margin-right: 20px;
        list-style: none;
        height: 80px;
    }

    .nav-item {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }

    .nav-link {
        color: #fff;
        font-size: 17px;
        text-transform: 17px;
        text-decoration: none;
        border-radius: 3px;
        padding: 7px 13px;

        &:hover {
            background: #7aace6;
            transition: 0.3s;
        }
    }

    .checkbtn {
        font-size: 30px;
        color: #fff;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }

    #check {
        display: none;
    }

    @media (max-width: 858px) {
        .checkbtn {
            display: block;
        }

        .menu-nav {
            position: absolute;
            overflow: hidden;
            width: 100%;
            height: 100%;
            background-color: #2c3e50;
            top: 80px;
            left: -100%;
            text-align: center;
            overflow: hidden;
        }

        .nav-item {
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }

        .nav-link {
            font-size: 20px;
            &:hover {
                background: none;
                color: #7aace6;
                transition: 0.3s;
            }
        }

        #check:checked ~ ul {
            left: 0;
        }
    }
}
